h1 {
	font-size: 200%;

}

label {
	font-weight: bold;
	font-size: 110%;
	display: block;
	padding-top: 10px;
}

p {
	font-size: 80%;
}

textarea {
	width: 700px;
	height: 15em;
}

form {
	background-color: #eee;
	width: 700px;
	padding: 25px;
}
